fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pyyaml==6.0.2
pandas==2.2.3
pyarrow==17.0.0
unstructured[all-docs]==0.15.8
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1    # якщо не ставиться на Windows - видали і використай sklearn
scikit-learn==1.5.2
joblib==1.4.2
streamlit==1.39.0
requests==2.32.3
